<div class="countdowntimer">
  <ul id="countdown">
    <li>
      <p class="timeRefDays">days</p>
      <span class="days"></span>
    </li>
    <li>
      <p class="timeRefHours">hours</p>
      <span class="hours"></span>
    </li>
    <li>
      <p class="timeRefMinutes">minutes</p>
      <span class="minutes"></span>
    </li>
    <li>
      <p class="timeRefSeconds">seconds</p>
      <span class="seconds"></span>
    </li>
  </ul>
</div>
