<div class="eleven wide column">
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less">
      <div class="ui segment background-thin-yellow border-background-less">
        <h2 class="ui center aligned icon header"><%- page.title %></h2>
        <div class="ui segment background-thin-yellow border-background-less">

          <div class="ui segment background-thin-yellow content border-background-less top-15"> <%- page.content %></div>

        </div>
      </div>
    </div>
  </div>
</div>
