/* -------background-colors--------- */
.background-deep-green {
  background-color: #216A63 !important;
}

.background-thin-yellow {
  background-color: #F3EEE5 !important;
}

/* -------font-colors--------- */
.font-thin-yellow {
  color: #F3EEE5 !important;
}

/* -------border--------- */
.border-none {
  border: none !important;
}

/* -------container--------- */
.header-container {
  width: 85% !important;
}

/* -------分割条--------- */
.title-divider {
  margin: 3px !important;
}

/* -------flex布局--------- */
.row-flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.col-flex {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.row-flex-right {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

/* -------margin--------- */
.margin-left-5 {
  margin-left: 5px !important;
}

.margin-2 {
  margin: -3px !important;
}

/* -------padding--------- */
.padding-less{
  padding: 0px!important;
}

/* -------borderless--------- */
.border-background-less {
  background: #fff0!important;
  border: none!important;
  box-shadow: none!important;

}
/* -------激活状态样式--------- */
.menu-active{
  background-color: #D56464!important;
  color: #F3EEE5 !important;
}

/* -------全局设置--------- */
/* 全局背景颜色 */
body{
  background-color: #E4E4E4!important;
}
