/* -------background-colors--------- */
.background-deep-green {
  background-color: #216A63 !important;
}

.background-thin-yellow {
  background-color: #F3EEE5 !important;
}

.background-thin-red {
  background-color: #D56464 !important;
  color: white !important;
  border-color: rgb(255 64 64 / 15%) !important;
}

.background-title-red {
  background-color: #D56464 !important;
  color: white !important;
  border-color: rgb(255 64 64 / 15%) !important;
}

.background-thin-red:hover {
  background-color: #f46969 !important;
  color: white !important;
  border-color: rgb(255 64 64 / 15%) !important;
}

/* -------font-colors--------- */
.font-thin-yellow {
  color: #F3EEE5 !important;
}

.font-white {
  color: white !important;
}

/* -------border--------- */
.border-none {
  border: none !important;
}

/* -------container--------- */
.header-container {
  width: 85% !important;
}

/* -------分割条--------- */
.title-divider {
  margin: 3px !important;
}

/* -------flex布局--------- */
.row-flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.col-flex {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.row-flex-right {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

.row-flex-left {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

/* -------margin--------- */
.margin-left-5 {
  margin-left: 5px !important;
}

.margin-2 {
  margin: -3px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30 !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-left-right-10 {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-padding-less {
  padding: 0px !important;
  margin: 0px !important;
}

.margin-auto {
  margin: auto !important;
}

/* -------padding--------- */
.padding-less {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-title {
  padding: 5px !important;
}

/* -------borderless--------- */
.border-background-less {
  background: #fff0 !important;
  border: none !important;
  box-shadow: none !important;
}

/* -------激活状态样式--------- */
.menu-active {
  background-color: #D56464 !important;
  color: #F3EEE5 !important;
}

.menu-active:hover {
  background-color: #f46969 !important;
  color: #F3EEE5 !important;
}

/* -------全局设置--------- */
/* 全局背景颜色 */
body {
  background-color: #E4E4E4 !important;
}

/* -------top--------- */
.about-avatar-top {
  top: -20px !important;
}

/* -----------分类标签------------- */
.category-tab {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-style: solid;
  color: #434343 !important;
  border-radius: 5px;
  border-width: thin;
  margin: 0px 8px 10px;
  margin-bottom: 10px;
  width: 135px;
  overflow: hidden;
  height: 30px;
  text-align: center;
}

.category-tab:hover {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-style: solid;
  color: #434343 !important;
  border-radius: 5px;
  border-width: thin;
  margin: 0px 8px 10px;
  margin-bottom: 10px;
  width: 135px;
  overflow: hidden;
  height: 30px;
  text-align: center;
  background-color: #F4A81E;
}

/* ------页脚------- */
.page-footer {
  text-align: center;
  color: #F3EEE5;
  font-size: 16px !important;
}
