<footer class="ui segment attached background-deep-green margin-top-30">
  <div class="ui container">
    <div class="ui grid">
      <!-- 缩略图 -->
      <div class="four wide column">
        <div class="ui card margin-10">
          <div class="image padding-5">
            <img class="ui small image" src="<%- url_for('/img/nothinglin.jpg') %>">
          </div>
        </div>
      </div>
      <!-- 内容简介 -->
      <div class="eleven wide column">
        <div class="ui piled segment border-background-less">
          <h2 class="ui header font-thin-yellow">Nothinglin的愿望墙
            <div class="ui divider title-divider"></div>
            <div class="sub header font-thin-yellow">
              <ul class="ui list">
                <li>好好学习有用的知识，做到学以致用</li>
                <li>潜心学习，向目标院校考研，证明自己的高考失利不是自己笨，而是应试教育的弊端导致的，拿回自己以前失去过的东西</li>
                <li>低调做人，寻找自己未来的发展方向</li>
                <li>做个平凡的成功人</li>
                <li>学习英语，当它工具也好，文化也好</li>
                <li>打好基础，记一下笔记，记录一下自己的思考，要坚信厚积薄发理论，不走逆袭的歪门邪路</li>
              </ul>
            </div>
          </h2>
        </div>
      </div>
    </div>
    <!-- 分割线 -->
    <div class="ui divider title-divider"></div>
    <div class="ui container margin-top-10 page-footer">www.nothinglin.ml © 2021 | Powered by Hexo | Based on Theme: hexo-theme-Nothinglin by Nothinglin.</div>
  </div>
</footer>
