<footer class="ui segment attached background-deep-green margin-top-30">
  <div class="ui container ">
    <div class="ui grid stackable footer-hide">
      <!-- 缩略图 -->
      <div class="four wide column">
        <div class="ui card margin-10">
          <div class="image padding-5">
            <img class="ui small image" src="<%- url_for('/img/nothinglin.jpg') %>">
          </div>
        </div>
      </div>
      <!-- 内容简介 -->
      <div class="eleven wide column post-calendar">
        <%- partial('_partial/widget/post-calendar') %>
      </div>

    </div>
    <!-- 分割线 -->
    <div class="ui divider title-divider footer-hide"></div>
    <div class="ui container margin-top-10 page-footer">www.nothinglin.ml © 2021 | Powered by Hexo | Based on Theme: hexo-theme-Nothinglin by Nothinglin.</div>
    <div class="ui container margin-top-10 page-footer"><%- partial('_partial/widget/dayCounting') %></div>
  </div>
</footer>
