<!-- 菜单导航栏 -->
<div class="ui segment attached background-thin-yellow padding-less">
  <div class="ui container">
    <div class="ui menu border-background-less borderless">
      <a href="<%= config.root %>" class="item menu-active">首页</a>
      <a href="#" class="item">文章列表</a>
      <a href="<%- url_for('/categories') %>" class="item">分类列表</a>
      <a href="<%- url_for('/tags') %>" class="item">标签列标</a>
      <a href="#" class="item">资讯</a>
      <a href="#" class="item">留言</a>
      <a href="" class="ui item right"><i class="icon search"></i></a>
    </div>
  </div>
</div>
