<!-- 文章内容页面中的目录栏 -->
<div class="ui segment background-thin-yellow">
  <div class="ui segment background-title-red padding-title">
    <h4 class="header ">文章目录：</h4>
  </div>
  <%- toc(page.content,{list_number:false}) %>
</div>
