<body>
  <div class="image-effect-fall-back">

    <div class="share-layer aligncenter">

      <a href="#" class="share-button share-via-facebook">
        <i class="fa fa-facebook"></i>
        QQ:1353695200
      </a>

      <a href="#" class="share-button share-via-twitter">
        <i class="fa fa-twitter"></i>
        微信:lin1353695200
      </a>

      <a href="#" class="share-button share-via-pinterest" style="color: #14BD03!important">
        <i class="fa fa-pinterest"></i>
        公众号：苦逼的学生仔
      </a>

    </div>

    <div class="image-layer">
      <img src="https://NothingLin.coding.net/p/picture/d/picture/git/raw/master/2021/12/8/20211208160201.png" width="500" alt="Kungfu Panda">
    </div>
  </div>
